html, body {
    height: 100%;

    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

button {
    border: none;
    background-color: #82BECD;
    border-radius: 2px;
    padding: 7px 10px;
    color: white;

    cursor: pointer;
    font-size: 14px;
    outline: none;

    text-transform: uppercase;
}

button:hover {
    background-color: #5895A5;
}

button:active {
    background-color: #537C86;
}

#toolbar {
    float: right;
    margin-right: 20px;
}

#toolbar button {
    margin: 10px;
}

body {
    margin: 0;
}

#main {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    background: -webkit-linear-gradient(#22466F, #452525);
    background: -o-linear-gradient(#22466F, #452525);
    background: linear-gradient(#22466F, #452525);
}

#chart {
    height: 100%;
}

#editor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    z-index: 200;
    display: none;
}

#code-editor textarea {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50px;
}

#editor .CodeMirror {
    height: 100%;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
}

#editor-toolbar {
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 100;
}

#editor-toolbar button {
    margin: 5px;
}